<h1>難易度付与済み書籍</h1>

<% if @books.size == 0 %>
<p>書籍がまだ評価されていません</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>書籍名</th>
      <th>目次</th>
      <th>難易度</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.pre_processed_contents %></td>
        <td><%= book.difficulty %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しく難易度を付与する', new_book_path %>
