<p id="notice"><%= notice %></p>

<%= show_count %><br>
<%= show_distribution %>

<h1>難易度付与</h1>
<h2><%= link_to @book.title, @book.url %></h2>
<% unless @book.image_url.nil? %>
  <%= image_tag(@book.image_url, width: @book.image_width, height: @book.image_height) %>
<% else %>
  <p>画像がありません</p>
<% end %>

<h3>目次</h3>
<p>
<%= simple_format(@book.pre_processed_contents) %>
</p>

<%= render 'form' %>

<ul>
	<li>ASIN: <%= @book.asin %></li>
	<li>NodeID: <%= @book.node_id %></li>
	<li>著者: <%= @book.author %></li>
	<li>BrowseNode: <%= @book.browsenode %></li>
	<li>出版社: <%= @book.manufacturer %></li>
	<li>価格: <%= @book.amount %>円</li>
</ul>


<%= link_to 'Back', books_path %>
